page-inicio {

    ion-content{

        &.backInitial{
            background-image: url('../../assets/imgs/back1.jpg');
            background-size: cover;
        }

        .item-md{
            background:transparent !important;
        }
        
        ion-item{
            height: 70vh;
        }


        button{
            

            display: flex!important;
            align-content: center!important;
            align-items: center!important;
            justify-content: center !important;
            
            span.prox{
                font-size: 0.6em;
            }
        }
    }

    ion-title{
        
        &.titulo{
            font-size: 3em;
        }
    }
}