<ion-header>
  <ion-navbar hideBackButton color="primary">
    <ion-title id="quedan">Quedan <ion-badge color="secondary" item-end>{{minutes | number:'2.0-0'}}:{{seconds | number:'2.0-0'}}</ion-badge></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="word">

  <ion-list>
    <ion-item padding>
      <ion-label margin-top floating>{{word.en}}</ion-label>
      <ion-input type="text" #palabra (keyup.enter)="verificResult(palabra.value)" [(ngModel)]="valueDefault"></ion-input>
    </ion-item>
    <ion-item padding-top>
      <button color="danger" ion-button full large (click)="terminar()">Terminar</button>
    </ion-item>
  </ion-list>

  <button ion-button color="danger" full large *ngIf="!corriendo" (click)="resetGame()">Reset</button>

  <!--<br><br>
  Pista
  <div [innerHTML]="pista"></div>
  -->

</ion-content>
