page-playing {

    .verde{
        background-color: map-get($colors, secondary);
    }
    .rojo{
        background-color: map-get($colors, danger);
    }

    #quedan{
        ion-badge{
            font-size: 40px;
        }
    }

    ion-badge{
        color:#fff !important;
    }
    
    ion-content{
        color:#fff !important;
        font-size: 40px;
        background-image: url('../../assets/imgs/back1.jpg');
        background-size: cover;
    }
    
    input{
        color:#fff !important;
    }
    
    .item-md{
        background:rgba(12, 5, 20, 0.3)
    }
    
    ion-label{
        font-size: 3em;
        color:#fff !important;

    }

    .text-input{
        font-size: 1.5em;
    }
    
    ion-navbar button{
        display: none;
    }
    
    button.back-button{
        display: none;
    }

    ion-list{
        width: 100%;
    }

    .terminar{
        font-size: 2em;
    }
}

$text-input-highlight-color-valid:#f00 !important; 
