<ion-header>
  <ion-navbar hideBackButton color="primary">
    <ion-title id="quedan"><ion-badge [ngClass]="{'verde': minutes > 0 || seconds > 10, 'rojo': minutes == 0 && seconds <= 10}" item-end>{{minutes | number:'2.0-0'}}:{{seconds | number:'2.0-0'}}</ion-badge></ion-title>
    
    <ion-buttons end>
      <button ion-button (click)="terminar()"><ion-badge color="danger" item-center><span class="terminar">Terminar</span></ion-badge></button>
    </ion-buttons>
  
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="word">

  <div *ngIf="gameType == 'EnSp'; else espanol">
    <playing-box [word]="word.en" (result)="verificEnSp($event)"></playing-box>
  </div>

  <ng-template #espanol>
    <playing-box [word]="word.es" (result)="verificSpEn($event)"></playing-box>
  </ng-template>

  <button ion-button color="danger" full large *ngIf="!corriendo" (click)="resetGame()">Reset</button>

</ion-content>


